.sidebar {
    position: absolute;
    top: 0;
    height: 100%;
    width: 20rem;
    background-color: #0F52BA;
    padding-top: 1.5rem; 
    z-index: 1;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.666);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    right:0;
    transition: transform 0.3s ease;
};

.closeCart{
    margin-left: 6rem;
    margin-top: 1.5rem;
}
