.sidebar {
    position: absolute;
    top: 0;
    height: 100%;
    width: 25rem;
    background-color: #0F52BA;
    padding-top: 1.5rem; 
    z-index: 4;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.666);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    right:0;
    transition: transform 0.3s ease;
};



.closeCart{
   position: absolute;
   padding-right: 1rem;
   padding-top: 1.5rem;
   right: 0;
}
